$border-line-color: #e6e6e6;
$top-bar-height: 55px;
$side-bar-width: 220px;
$font-very-small: 10px;
$font-small: 13px;
$font-medium: 15px;
$font-very-large: 20px;
$item-hover-color: rgba(0, 0, 0, 0.04);
$primary-color: #006dac;
$primary: darken($primary-color, 10%);